  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap');

:root {
  --fonttype: 'Poppins', sans-serif;
}



  * {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  display: inline-block;
}

li a {
  margin: 20px; 
  text-decoration: none;
  font-family: var(--fonttype);
  color:#80989c;
}

li a:hover {
  color: black;
  font-size: 17px;
}

header {
  height: 80px;
  width: 100%;
  background: #abdbe3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: var(--fonttype);
  color: whitesmoke;
  font-size: 30px;
}