 /* navbar styyling */
 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&family=Roboto:wght@100;300;400&display=swap');


:root {
  --fonttype: 'Poppins', sans-serif;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

li {
  display: inline-block;
}

li a {
  margin: 20px; 
  text-decoration: none;
  font-family: var(--fonttype);
  color:#80989c;
}

li a:hover {
  color: black;
  font-size: 17px;
}

header {
  height: 80px;
  width: 100%;
  background: #abdbe3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: var(--fonttype);
  color: whitesmoke;
  font-size: 30px;
}

#gap {
  height: 150px;
  width: 100%;
}

/* about me section styling */

#About-Me{
margin-left: 150px;
  
}

#heading-two {
  font-size: 35px;
  color: #294bc3;
  
}


p {
  line-height: 1.5;
  word-spacing: 0.35rem;
  padding-left: 30px;
  border-left: thick double #294bc3;
}
